    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/flowers2-2.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">EVENT</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 col-sm-12 ">
                    <h3>Location</h3>
                    <h5>The Heartwood</h5>
                    1195 Versailles Rd #110<br>
                    Lexington, KY<br>
                    40508<br>
                    <a target="_blank" href="https://www.google.com/maps/place/The+Heartwood/@38.0454328,-84.5230235,14z/data=!4m19!1m13!4m12!1m4!2m2!1d-84.4926996!2d38.0420002!4e1!1m6!1m2!1s0x8842449cc2900001:0xe9dbacac93735ab5!2sthe+heartwood+lexington+ky!2m2!1d-84.5188191!2d38.0506239!3m4!1s0x8842449cc2900001:0xe9dbacac93735ab5!8m2!3d38.0506239!4d-84.5188191">Directions</a> | 
                    <a target="_blank" href="https://www.theheartwoodlex.com/">Website</a>
                </div>
                <div class="col-md-6 col-sm-12 ">

                    <h3>Date</h3>
                    <p>December 31st, 2018 <br>
                    Ceremony at 3:30pm EST <br>
                    Reception at 8:15pm EST <br>
                    Ring in the New Year with us!
                    </p>

                </div>
                <h2 class="section-heading">FAQ</h2>
                <div class="col-sm-12 " id="faq">
                    <ul>
                        <li>
                            <h4>What do I wear?</h4>
                            Wear your NYE Attire! We want it to be a fun evening for everyone, so wear something you would have worn to another NYE Party.
                        </li>
                        <li>
                            <h4>Where can I stay?</h4>
                            We have a block of rooms at the Hampton Inn. You can follow this <a href="https://hamptoninn.hilton.com/en/hp/groups/personalized/L/LEXAPHX-DUB-20181228/index.jhtml?WT.mc_id=POG">link</a> to get a room for $74. 
                        </li>
                        <li>
                            <h4>Should I eat in between the ceremony and reception?</h4>
                            Yes. We will have some snacks and late-night tacos as well as desserts at the reception, but you may want to grab something to eat in between the ceremony and reception. See the <a href="#lex">LEX</a> section for things to do.</li>
                        </li>
                        <li>
                            <h4>Will the reception go until midnight?</h4>
                            Yes! We want to ring in the New Year with everyone!
                        </li>
                        <li>
                            <h4>Is the ceremony and reception at the same place?</h4>
                            Yes, they are both at the Heartwood. <a target="_blank" href="https://www.google.com/maps/place/The+Heartwood/@38.0454328,-84.5230235,14z/data=!4m19!1m13!4m12!1m4!2m2!1d-84.4926996!2d38.0420002!4e1!1m6!1m2!1s0x8842449cc2900001:0xe9dbacac93735ab5!2sthe+heartwood+lexington+ky!2m2!1d-84.5188191!2d38.0506239!3m4!1s0x8842449cc2900001:0xe9dbacac93735ab5!8m2!3d38.0506239!4d-84.5188191">Directions</a>
                        </li>
                    </ul>
                    <p></p>

                </div>
            </div>
        </div>
    </section>