    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/flowers2-2.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">EVENT</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <h3>Location</h3>
                    <h5>Starlit Heights</h5>
                    54 Burdette Knob Rd<br>
                    Lancaster, KY<br>
                    40444<br>
                    <a href="https://www.google.com/maps/dir/37.6799004,-84.6486591/starlit+heights/@37.6831301,-84.6485718,598m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x884292809c138f0d:0xa8f2769c89beab8a!2m2!1d-84.647627!2d37.6839968">Directions</a> | 
                    <a href="https://www.encoreeventplanners.com/contact">Website</a>

                    <h3>Date</h3>
                    <p>July 22nd, 2018 <br>
                    Ceremony at 5:30pm EST <br>
                    Reception to follow
                    </p>

                    <h3>Details</h3>
                    <p>Dress casual. </p>

                </div>
            </div>
        </div>
    </section>