  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% comment %}
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                    {% endcomment %}
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a style="text-decoration: none;" href="https://photos.app.goo.gl/HGgY6Is5lpxq1rJH2" target="_blank">Funny/Cute Pictures of Kayla</a>
                </div>
            </div>
        </div>
    </footer>