<section id="lex">
    <div class="container">
        <div class="row text-center">
            <h1>LEX</h1>
        </div>
        <div class="row">
            <h4>We love Lexington and we hope if you're not from here, you can come to love Lexington too.</h4>
            <div class="col-sm-6">
                <h3>LEX fun</h3>
                <ul>
                    <li><a target="_blank" href="https://www.triangleparklexington.org/">Ice Skating at Triangle Park</a></li>
                    <li><a target="_blank" href="https://www.lexingtondistillerydistrict.com/">The Distillery District</a></li>
                    <li><a target="_blank" href="https://www.malibujacks.net/lexington">Malibu Jacks</a></li>
                    <li><a target="_blank" href="https://breakoutgames.com/lexington/">Breakout Games</a></li>
                    <li><a target="_blank" href="http://www.lexingtoncenter.com/events/venue/lexington-convention-center">Rupp Arena (greatest place on Earth) & Convention Center</a></li>
                    <li><a target="_blank" href="http://www.mcconnellsprings.org/">McConnell Springs (if it's warm!)</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3>LEX Stay</h3>
                <p>We have blocked off rooms at the Hampton Inn.  You can follow this <a href="https://hamptoninn.hilton.com/en/hp/groups/personalized/L/LEXAPHX-DUB-20181228/index.jhtml?WT.mc_id=POG">link</a> to book a room with our discount.</p>
                <p>If you are more interested in calling the hotel, you can use the Group Code: DUB. Phone Number: <a href="tel:8592230088">859-223-0088</a></p>
                <address>
                    Hampton Inn Lexington South-Keeneland/Airport<br>
                    <a target="_blank" href="https://www.google.com/maps/place/The+Heartwood/@38.0454328,-84.5230235,14z/data=!4m19!1m13!4m12!1m4!2m2!1d-84.4926996!2d38.0420002!4e1!1m6!1m2!1s0x8842449cc2900001:0xe9dbacac93735ab5!2sthe+heartwood+lexington+ky!2m2!1d-84.5188191!2d38.0506239!3m4!1s0x8842449cc2900001:0xe9dbacac93735ab5!8m2!3d38.0506239!4d-84.5188191">3060 Lakecrest Circle<br>
                    Lexington, KY   40513</a>
                </address>
            </div>
            <div class="col-sm-6">
                    <h3>LEX Eat</h3>
                    <ul>
                        <li><a href="http://saulgoodpub.com/">Saul Good</a></li>
                        <li><a href="http://ramseysdiners.com/">Ramsey's</a></li>
                        <li><a href="https://www.northlime.net/">North Lime Donuts (Breakfast only)</a></li>
                        <li><a href="https://localtacolex.com/">Local Taco</a></li>
                        <li><a href="https://www.facebook.com/JoellasHotChickenLexington/">Joella's Chicken</a></li>
                        <li><a href="https://www.carsonsfoodanddrink.com/">Carson's</a></li>
                        <li><a href="http://www.ilovecajun.com/">Bourbon 'n Toulouse</a></li>
                        <li><a href="https://bluegrasshospitality.com/malones/">Malone's</a></li>
                        <li><a href="https://dv8kitchen.com/">Deviate Kitchen (Lunch and Breakfast only - 8a-3p)</a></li>
                    </ul>
                </div>
        </div>
    </div>
</section>