   <section id="serve">
        <div class="container">
            <div class="row text-center">
                <h1>SERVE</h1>
            </div>
            <div class="row">
                <p>Part of our engagement night was a "Random Acts of Kindness" scavenger hunt, as serving our community is important to us. We also have appreciated the kindness you all have shown us over these past few months. We want to invite our wedding guests to join us in giving back! Your invitation should have included a "random act of kindness" challenge to perform. If you are able to complete this, tell us about your experience on Instagram, Facebook or Twitter by hashtagging {{ site.hashtag }}. Feel free to do a different or additional act of kindness if you feel led! We hope this is an encouraging experience for you, as it was for us!</p>
            </div>
        </div>
    </section>