<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}

    {% include event.html %}



{% comment %}
        {% include venue.html %}

        {% include lodging.html %}
        {% include rsvp.html %}
{% endcomment %}

        {% include registry.html %}

        {% include give.html %}

        {% include contact.html %}

        {% include rsvp.html %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>